* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
}

/* Top Bar */
.top-bar {
    background: linear-gradient(to right, #ffb6c1, #dda0dd);
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: normal;
    color: black;
}

/* Navigation bar 1 */
.logo-search {
    display: flex;
    justify-content: space-evenly;
    height: 90px;
    align-items: center;
    padding: 4px 16px;
    background: white;
}

.logo {
    width: 200px;
    height: 72px;
}

.search-bar {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.icons i {
    margin-left: 15px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.hrline1{
    border: 1px solid grey;
    opacity: 0.3;
}
/* Navigation Bar 2*/
nav {
    background: white;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}
nav ul li select {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    border: none;
    padding: 0;
    font-size: 16px;
}

/* Hero Images Carousel */
.hero-image-carousel{
    padding: 0px 100px;
}
#image1{
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 500px;
    width: 300px;
}
#image2{
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 500px;
    width: 300px;
}
#image3{
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 500px;
    width: 300px;
}

/* Products Section */
.collections {
    padding: 50px 20px;
    background-image: url(images/products-bg.png);
}

.title {
    font-size: 2em;
    color: #333;
    margin-bottom: 80px;
    text-align: center;
}

.products {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.product-card {
    background: #fff;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 275px;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
}
.product-card h3{
    margin-bottom: 60px;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100px;
    height: 300px;
    margin-bottom: 10px;
    position: relative;
    bottom: 75px;
    left: 10px;
}

.product-card button {
    background-color: white;
    color: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    font-size: 14px;
    margin-top: 60px;
}

.product-card button:hover {
    background-color: #555;
    color: white;
}

.eyes { background-color: #fbe9d1; }
.lips { background-color: #d0f0f8; }
.combos { background-color: #fbe3d3; }
.best-seller { background-color: #eadcf7; }


/* Trust Section */
.trust-section {
    text-align: center;
    margin: 0px 100px;
    padding: 40px 0px;
    background-color: #E5F7E9;
    background-image: url(images/rose-toprightcorner.png),url(images/leaf-leftcorner.png);
    background-repeat: no-repeat;
    background-position: top 0px right 0px, bottom 0px left 0px;
    background-size: 200px 200px;
}

.trust-section h3 {
    font-size: 14px;
    letter-spacing: 2px;
    color: #666;
}

.trust-section h1 {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    color: #2d2d2d;
}

.features {
    display: flex;
    justify-content: space-evenly;
    margin: 70px 0;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.feature img {
    height: 80px;
    width: 80px;
    margin-bottom: 8px;
}
.feature p{
    font-weight: 550;
}
.description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.know-more {
    background: none;
    border: 2px solid #2d2d2d;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
}

.know-more:hover {
    background: #2d2d2d;
    color: white;
}


/* Shop Section */

.featured-shop-section {
    padding: 40px 20px;
}

.featured-subtitle {
    font-size: 14px;
    letter-spacing: 2px;
    color: #666;
    text-transform: uppercase;
    text-align: center;
}

.featured-title {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    color: #2d2d2d;
    text-align: center;
}


.featured-product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.featured-product-card {
    background: #f8f8f8;
    padding: 20px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 300px;
    position: relative;
    text-align: center;
    transition: transform 0.3s ease;
}
.featured-product-card-image {
    background-color: white;
    width: 100%;
    height: 60%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.featured-product-card:hover {
    transform: scale(1.05);
}


.featured-wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #777;
}


.featured-product-img {
    width: 100px;
    height: auto;
    margin: 10px 0;
}

.featured-product-name {
    font-size: 16px;
    color: #2d2d2d;
}


.featured-product-desc {
    font-size: 12px;
    color: #555;
}


.featured-rating {
    font-size: 14px;
    color: #f39c12;
    margin: 8px 0;
}

.featured-rating span {
    font-size: 12px;
    color: #666;
}


.featured-price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.featured-price {
    font-size: 16px;
    font-weight: bold;
}

.featured-cart-btn {
    text-align: center;
    background: none;
    border: 2px solid #2d2d2d;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    left: 50px;
}

.featured-cart-btn i {
    margin-left: 5px;
}

.featured-cart-btn:hover {
    background: #2d2d2d;
    color: white;
}

.featured-light-green { background-color: #E3F2E3; }
.featured-light-pink { background-color: #FCE7EC; }
.featured-light-blue { background-color: #E3F2FD; }

.featured-view-all {
    background: none;
    border: 2px solid #2d2d2d;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    left: 650px;
}

.featured-view-all:hover {
    background: #2d2d2d;
    color: white;
}

/* ABOUT US SECTION */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10%;
    background-color: #FAD4C0;
    position: relative;
    overflow: hidden;
}

.about-content {
    max-width: 50%;
    background-image: url(images/Aboutus_icon-left.png);
}

.about-subtitle {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
}

.about-title {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    color: #2D2D2D;
    margin: 5px 0;
}

.about-tagline {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    color: #2D2D2D;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-description {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-button {
    background: none;
    border: 2px solid #2D2D2D;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
}

.about-button:hover {
    background: #2D2D2D;
    color: white;
}

.about-image img {
    max-width: 450px;
}

/* Top Seller Section */
.topseller{
    padding: 100px 100px;
}
.top-seller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10%;
    background-color: #B7D7E8;
    background-image: url(images/Above_blog.jpg);
    background-size: cover;
}

.content {
    max-width: 50%;
}

.tagline {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
}

.product-name {
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    color: #2D2D2D;
    margin: 5px 0;
}

.rating {
    font-size: 18px;
    color: #444;
    margin: 10px 0;
}

.rating span {
    font-size: 14px;
    color: #666;
    margin-left: 10px;
}

.social-share {
    float: right;
}

.social-share i {
    margin-left: 8px;
    cursor: pointer;
}

.description {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 15px;
}

.shade-label {
    font-size: 16px;
    color: #222;
    margin-bottom: 5px;
}

.shade-options {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

.shade {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #ddd;
    cursor: pointer;
}

.price {
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0;
}

.discounted-price {
    color: #333;
}

.original-price {
    color: #888;
    text-decoration: line-through;
    margin-left: 10px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.buy-now,
.add-to-cart {
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buy-now {
    background: #000;
    color: white;
    border: 2px solid black;
}

.buy-now:hover {
    background: white;
    color: black;
}

.add-to-cart {
    background: white;
    border: 2px solid black;
}

.add-to-cart:hover {
    background: black;
    color: white;
}
.product-image img {
    max-width: 450px;
}

/* Blog Section */
.blog-section {
    padding: 50px 10%;
    background-color: #E6F4FF;
}

.blog-tag {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    text-align: center;
    font-weight: 600;
}

.blog-title {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #2D2D2D;
    margin: 10px 0 30px;
    text-align: center;
}

.blog-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.blog-card {
    background: white;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    padding: 15px;
    width: 300px;
    text-align: left;
}

.blog-card img {
    width: 100%;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
}

.date {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}

.blog-card h3 {
    font-size: 18px;
    color: #222;
    margin: 0;
}

.view-all {
    margin-top: 30px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    background: #E6F4FF;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    position: relative;
    left: 500px;
}

/* Face Elixir Section */
.elixir-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    background: linear-gradient(90deg, #FDE4E2 40%, #FEE7E4);
    background-image: url(images/shop_background.jpg);
}
.elixir-content {
    width: 50%;
    text-align: left;
}

.elixir-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #2D2D2D;
}

.elixir-content p {
    font-size: 16px;
    color: #444;
    margin: 15px 0;
}
.shop-now {
    padding: 12px 24px;
    font-size: 16px;
    background: white;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    position: relative;
    left: 200px;
    top: 20px;
}

.shop-now:hover {
    background: black;
    color: white;
}
.elixir-images {
    gap: 20px;
}


/* Feature You Section */
.feature-you {
    padding: 50px 20px;
}
.feature-you h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.feature-you p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 1000px;
    margin: 0 auto;
}
.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer Section */
footer {
    background-color: #8D5C58;
    padding: 40px 150px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(images/footer-logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-left {
    width:600px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.logo {
    width: 150px;
    margin-bottom: 15px;
}

.acknowledgement {
    font-size: 14px;
    line-height: 1.6;
    
}

.footer-links {
    display: flex;
    gap: 40px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.newsletter h2 {
    margin-bottom: 10px;
    margin: 0;
}

.newsletter p {
    font-size: 14px;
    margin-bottom: 10px;
}

.newsletter-form {
    display: flex;
    margin-top: 10px;
}

.newsletter-form input {
    padding: 10px;
    width: 250px;
    border: none;
    border-bottom-left-radius: 5px;
    margin-right: 5px;
}

.newsletter-form button {
    padding: 10px 15px;
    background-color: #593C39;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.social-icons {
    margin-top: 20px;
}

.social-icons span {
    margin-bottom: 5px;
    margin-right: 10px;
    font-style: italic;
}

.social-icons i {
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    border-top: 1px solid #FFFFFF;
    padding-top: 20px;
    font-size: 14px;
}

.payment-methods img {
    width: 40px;
    margin-right: 5px;
}

/* Responsive styles for max-width 680px */
@media (max-width: 680px) {
    .logo-search {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .logo {
        width: 150px;
        height: auto;
    }
    .search-bar {
        width: 90%;
        margin-top: 10px;
    }
    .icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    nav ul li {
        margin: 5px 0;
    }
    .carousel-inner img {
        width: 100%;
        height: auto;
    }
    .products {
        flex-direction: column;
        align-items: center;
    }
    .product-card {
        width: 90%;
        margin-bottom: 20px;
    }
    .features {
        flex-direction: column;
        gap: 20px;
    }
    .trust-section {
        margin: 0;
        padding: 20px;
    }
    .featured-product-container {
        flex-direction: column;
        align-items: center;
    }
    .featured-product-card {
        width: 90%;
        margin-bottom: 20px;
    }
    .about-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .about-content, .about-image {
        max-width: 100%;
    }
    .top-seller {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .blog-container {
        flex-direction: column;
        align-items: center;
    }
    .blog-card {
        width: 90%;
        margin-bottom: 20px;
    }
    .elixir-section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-links {
        flex-direction: column;
        align-items: center;
    }
    .newsletter-form {
        flex-direction: column;
        align-items: center;
    }
    .newsletter-form input {
        width: 90%;
        margin-bottom: 10px;
    }
    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}